

.add-form {
    background-color: rgb(247, 228, 106);
    border-radius: 12px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    gap: 20px;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .form-label {
    font-size: 16px;
  font-weight: 700;
  }
  
  .add-input{ 
    height: 40px;
    width: 240px;
    /* border: none; */
    border-radius: 12px;
    padding: 0 12px;
    border: 2px solid rgb(255, 196, 216);
  }
  
  
  .add-button {
    /* border: none; */
    height: 40px;
    border-radius: 10px;
    background-color: rgb(255, 196, 216);
    width: 140px;
    color: black;
    font-weight: 700;
    border: 2px solid white;
  }